

<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><%=title %>
                    <small>這是毛小孩走失詳細資訊</small>
                </h2>
            </div>
        </div>
        <div class="row " style="padding-bottom:50px; ">
           <div class="col-md-5">
               <a href="/assets/vendor/img/portfolio/4.jpg" data-lightbox="image-1" data-title="這是一隻狗">
                <img src="/assets/vendor/img/portfolio/4.jpg"  class="img-responsive img-thumbnail" /></a>
               <!--  <a href="someurl" data-toggle="lightbox">
                    
                </a> -->
           </div>
           <div class="col-md-7">
             
               <div >
                <h4><strong> 寵物性別:</strong> <%=animals.GENDER  %></h4>  
                <h4><strong> 犬種:</strong> <%=animals.VARIETY %></h4>  
                <h4><strong> 顏色:</strong> <%=animals.COLOR %></h4>  
                <h4><strong> 晶片號碼: </strong><%=animals.HASCHIP %></h4>  
                <h4><strong> 領回狀態 :</strong><%=animals.BACK_STATUS %></h4>  
                <h4><strong> 拾獲時間 :</strong><%=animals.PICKUPTIME %></h4>  
                <h4><strong> 拾獲地點 :</strong><%=animals.LOCATION %></h4>  
               </div>
           </div>
       </div>
        <div class="row">
            <div class="col-md-6">
             <h3>其他特徵:</h3>  
               <hr />
               <table id="tblComponent" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <!-- <th>使用者編號</th> -->
                        <!-- <th>機關構名稱</th> -->
                        <th>配件種類</th>
                        <th>配件顏色</th>
                        <th>配件上註記名稱</th>
                        <th>描述</th>
                    </tr>
                </thead>
                <tbody>
                    <% animals.components.forEach(function(c){ %>
                      <tr>
                        <td><%=c.COMP_TYPE %></td>
                        <td><%=c.COMP_COLOR %></td>
                        <td><%=c.COMP_REMARK %></td>
                        <td><%=c.DESCRIPTION %></td>
                      </tr>
                    <%  }); %>
                </tbody>
            </table>
           </div>
           <div class="col-md-6" style="padding-bottom:80px;">
              <h3>描述 :</h3> 
               <hr />
               <h5><%=animals.DESCRIPTION %></h5>  
           </div>
        </div>
  <script type="text/javascript">
  $(function(){
    $("#tblComponent").DataTable( {
      "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
      "pageLength": 25
    });
  });

</script>