<!DOCTYPE html>
<html lang="en">

<head>

    <%- include ../partials/metadata.ejs %>
    <%- include ../partials/style.ejs %>
    <title>關於團隊</title>
    
    <!-- jQuery -->
    <script src="/assets/vendor/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/vendor/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables/media/js/dataTables.bootstrap.min.js"></script>
</head>
<body>
    <%- include ../partials/navbar.ejs %>
    <div class="container">
        <%- body %>
        <!-- Footer -->
        <%- include ../partials/footer.ejs %>
    </div>

</body>

</html>